.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  max-height: 120px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-fadeInOut infinite 3s ease-in-out;
  }
}

.App-header {
  background-color: #0e2841;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #0d7ecc;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1px;
}


@keyframes App-logo-fadeInOut {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
